<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <h1>Welcome to whatsapp++</h1>
            <form action="/profile" method="get">
                <input class="name" name="name" type="text" placeholder="Enter name">
                <button type="submit" class="login-btn">Submit</button>
            </form>
        </div>
    </div>
</body>
<script src="script/login_script.js"></script>
</html>